@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659948763119') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-servo:before {
  content: "\e63d";
}

.icon-bmp180:before {
  content: "\e63e";
}

.icon-digital-tube:before {
  content: "\e63f";
}

.icon-blinker:before {
  content: "\e640";
}

.icon-dht11:before {
  content: "\e641";
}

.icon-ir-temp:before {
  content: "\e642";
}

.icon-sht30:before {
  content: "\e643";
}

.icon-oled12864:before {
  content: "\e644";
}

.icon-motor2:before {
  content: "\e645";
}

.icon-lcd1602:before {
  content: "\e646";
}

.icon-motor:before {
  content: "\e647";
}

.icon-keyboard4x4:before {
  content: "\e648";
}

.icon-sr04:before {
  content: "\e649";
}

.icon-buzzer:before {
  content: "\e64a";
}

.icon-ws2812:before {
  content: "\e64b";
}

.icon-tft:before {
  content: "\e64c";
}

.icon-a-8x8lattice:before {
  content: "\e64d";
}

.icon-dht22:before {
  content: "\e64e";
}

