<div class="lib-manager-box">
    <div class="left-box animate__animated animate__fadeInLeft animate__fast">
        <div class="table-header">
            <div>已安装<span>（可拖拽排序）</span></div>
            <div class="version">版本号</div>
            <div class="show">可用</div>
        </div>
        <div class="lib-list" #libListBox *ngIf="libManagerLoaded">
            <ng-container *ngFor="let libName of libList">
                <ng-container *ngIf="libDict[libName]">
                    <div class="item" data-id="{{libName}}">
                        <div class="kk" [ngStyle]="{background: libDict[libName].json.colour}"></div>
                        <div class="icon"><i class="{{libDict[libName].json.icon}}"></i></div>
                        <div class="name">{{libDict[libName].json.category}}</div>
                        <div class="version">{{libDict[libName].json.version}}</div>
                        <div class="show"><label nz-checkbox [(ngModel)]="libDict[libName].show"
                                (ngModelChange)="libShowChange($event,libName)"></label></div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="right-box animate__animated animate__fadeInRight animate__fast">
        <!-- <div>云资源</div> -->
        <div class="cloud-lib-list">
            <!-- 加载失败 -->
            <div class="cloud-lib-item" *ngFor="let item of libList">
                <div class="top">
                    <div class="img-box">
                        <img src="https://www.arduino.cn/template/sxp_jz_001/image/logo.png" alt="">
                    </div>
                    <div style="margin-left: 7px">
                        <div class="name">舵机控制</div>
                        <div class="author">作者：奈何col</div>
                        <div class="shehui">
                            <div>
                                <i class="fal fa-arrow-alt-to-bottom"></i>
                                <div>5221</div>
                            </div>
                            <nz-divider nzType="vertical"></nz-divider>
                            <div>
                                <i class="fal fa-thumbs-up"></i>
                                <div>5221</div>
                            </div>
                            <nz-divider nzType="vertical"></nz-divider>
                            <div>
                                <i class="fal fa-comment-alt-dots"></i>
                                <div>5221</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="middle">
                    <p>ESP32专用的舵机控制库</p>
                    <p>适用设备：esp32c3、wifiduino、uno、mega</p>
                </div>
                <div class="bottom">
                    <div class="website">了解更多</div>
                    <div>版本</div>
                    <nz-select nzSize="small" ngModel="lucy">
                        <nz-option nzValue="10.1.3" nzLabel="10.10.31"></nz-option>
                        <nz-option nzValue="0.1.0" nzLabel="0.1.0"></nz-option>
                        <nz-option nzValue="0.0.8" nzLabel="0.0.8"></nz-option>
                    </nz-select>
                    <button nz-button nzType="primary" nzSize="small">加载</button>
                </div>
            </div>
        </div>
    </div>
</div>