:host {
    height: 100%;
    width: 100%;
    position: relative;
}


.code-box {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
}