.modal-box {
    display: flex;

    nz-select {
        width: 90px;
        flex-shrink: 0;
    }

    >div {
        flex-shrink: 0;
        padding-right: 5px;
    }

    input {
        flex-grow: 1;
    }
}