<div class="cloud-box">

    <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="selectedIndexChange($event)">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
                <i class="{{tab.icon}}"></i>
                {{ tab.name }}
            </ng-template>
        </nz-tab>
    </nz-tabset>
    <div class="scroll">
        <div item-list *ngIf="selectedIndex==0">
            <div item *ngFor="let item of exampleList">
                <div name>{{item.name}}</div>
                <div desc>{{item.description}}</div>
                <div author>作者：{{item.author}}</div>
                <button nz-button nzType="primary" nzSize="small" (click)="loadExample(item)">加载</button>
            </div>
        </div>
        <div item-list *ngIf="selectedIndex==1">
            <div item *ngFor="let item of librariesList">
                <div name>{{item.name}}</div>
                <div desc>{{item.description}}</div>
                <div author>作者：{{item.author}}</div>
                <button nz-button nzType="primary" nzSize="small" (click)="loadLibrary(item)">加载</button>
            </div>
        </div>
        <div item-list *ngIf="selectedIndex==2">
            <div item *ngFor="let item of boardList">
                <div name>{{item.name}}</div>
                <div desc>{{item.description}}</div>
                <div author>作者：{{item.author}}</div>
                <button nz-button nzType="primary" nzSize="small" (click)="loadBoard(item)">加载</button>
            </div>
        </div>
    </div>
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="搜索" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search" nzTheme="outline"></i>
    </ng-template>
</div>