<div class="guide-box">
    <div class="top">
        <div class="title">WELCOME：</div>
        <div>首次使用本软件，请先选择一个常用的开发板：</div>
        <div class="board-list">
            <div class="board" (click)="installBoard(0)">
                <img src="assets/img/arduino_uno.png" alt="">
                <div class="text">Arduino UNO</div>
            </div>
            <div class="line"></div>
            <div class="board" (click)="installBoard(1)">
                <img src="assets/img/arduino_mega.png" alt="">
                <div class="text">Arduino MEGA</div>
            </div>
            <div class="line"></div>
            <div class="board" (click)="installBoard(2)">
                <img src="assets/img/wifiduino.png" alt="">
                <div class="text">WiFiduino</div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="title">ABOUT：</div>
        <p>0. B4A是一个开源免费的图形化编程软件，由 奈何col（陈吕洲） 开发</p>
        <p>1. 本软件当前还处于版本测试阶段</p>
        <p>2. 只要您是用于非营利的活动，均可免费使用</p>
        <p>3. 你可以通过<a href="https://github.com/coloz/b4a">GITHUB</a>获取本软件源码及最新版本</p>
        <p>4. 你可以通过<a href="https://www.arduino.cn/forum-158-1.html">Arduino中文社区</a>参与本软件的讨论</p>
    </div>
</div>