<div>
    <div item-list>
        <div item>库管理
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </div>
        <div item>开发板管理
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </div>

        <div item>编译设置
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </div>
        <div item>语言设置
            <div desc>中文</div>
        </div>
    </div>

    <div class="bottom">
        <div item>软件版本 0.0.1</div>
        <div item>
            <a href="http://b4a.clz.me">官方网站</a>
        </div>
    </div>

</div>