:host {
    height: 100%;
}

[item-list] {
    display: flex;
    flex-direction: column;

    [item] {
        border: 1px solid #666;
        height: 60px;
        margin: 0 15px 15px 15px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        font-size: 16px;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            border: 1px solid #FFF;
            i {
                color: #FFF;
            }
        }

        &:first-child {
            margin-top: 15px;
        }

        i {
            width: 40px;
            color: #999;
            font-size: 20px;
            transition: all .5s;
        }

        [desc] {
            padding-right: 15px;
        }
    }
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}