@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.loading-box {
  width: 100vw;
  height: 100vh;
  background: #22262a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .text {
      color: #fff;
      margin-left: 12px;
      margin-top: 5px;
      font-size: 18px;
  }
}

.red {
  color: rgb(181, 38, 38);
}

.blue {
  color: rgb(42, 112, 205)
}

.green {
  color: rgb(38, 144, 89);
}