@import "~ng-zorro-antd/ng-zorro-antd.min.css";
/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.loading-box {
  width: 100vw;
  height: 100vh;
  background: #22262a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .text {
    color: #fff;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 18px;
  }
}

.red {
  color: rgb(181, 38, 38);
}

.blue {
  color: rgb(42, 112, 205)
}

.green {
  color: rgb(38, 144, 89);
}


/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  background-color: #ccc;
}