.monitor-box {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    position: relative;
}

.info-box {
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 65px);
    margin-top: 10px;
    position: relative;

    >div {
        width: 100%;
        word-break: break-all;
    }

}

.input-box {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #CCC;
}

.red {
    color: rgb(181, 38, 38);
}

.blue {
    color: rgb(42, 112, 205)
}

.green {
    color: rgb(38, 144, 89);
}